@import "../Styles.scss";

.player {  
  background-size: 100% 100%;
  width: $spacing-massive;
  height: $spacing-huge;
  margin-left: auto;
  margin-right: auto;
}

.inactive {
  background-image: url("./kits/empty-player.gif");
}

.DEFAULT_GOALKEEPER {
  background-image: url("./kits/Keeper.png");
}

.DEFAULT_OUTFIELD {
  background-image: url("./kits/temp-kit.gif");
}

.ENGLAND_KEEPER {
  background-image: url("./kits/Keeper.png");
}

.ENGLAND_OUTFIELD {
  background-image: url("./kits/temp-kit.gif");
}

.ITALY_KEEPER {
  background-image: url("./kits/Keeper.png");
}

.ITALY_OUTFIELD {
  background-image: url("./kits/Italy.png");
}

.BRAZIL_KEEPER {
  background-image: url("./kits/Keeper.png");
}

.BRAZIL_OUTFIELD {
  background-image: url("./kits/Brazil.png");
}