@import "../common/Styles.scss";

.currentGameStateWrapper, .nominating {
    text-align: center;
    color: $color-green;
    margin-left: $spacing-medium;
    margin-right: $spacing-medium;
}

.votingWrapper {
    text-align: center;
    margin: $spacing-small;
    padding: $spacing-small;
    background-color: $color-amber;
}

.questingWrapper {
    text-align: center;
}

.notOnQuestMessage {
    text-align: center;
    color: $color-green;
    font-weight: bold;
}

.guessingMessage {
    text-align: center;
    color: $color-red;
    font-weight: bold;
}

.badGuysWrapper {
    text-align: center;
    color: $color-green;
}

.playerWithGuess {
    text-align: center;
    color: $color-blue;
    font-weight: bold;
}