@import "../common/Styles.scss";

.goodGuysHeader {
    color: $color-blue;
    font-weight: bold;
    text-align: center;
    font-size: $font-size-large;
}

.badGuysHeader {
    color: $color-red;
    font-weight: bold;
    text-align: center;
    font-size: $font-size-huge;
}

.finalPlayerRoles {
    text-align: center;
    font-weight: bold;
}

.guessedMerlin {
    text-align: center;
    font-weight: bold;
    font-size: $font-size-huge;
}

.allRolesWrapper {
    text-align: center;
    color: $color-green;
    font-weight: bold;
}