@import "../common/Styles.scss";

.lobbyHeader {
    text-align: center;
    font-weight: bold;
    color: $color-blue;
    font-size: $font-size-large;
    margin-top: $spacing-small;
}

.currentPlayersMessage, .gameModeText, .hostWrapper {
    text-align: center;
    color: $color-green;
    font-weight: bold;
    margin-top: $spacing-small;
}

.gameModeText {
    display: flex;
}

.gameModeValue {
    color: $color-black;
    margin-left: 4px;
}

.hostWrapper {
    display: flex;
    justify-content: space-evenly;
    > div {
        @include vertical-center-div();
    }
}

.currentPlayersWrapper {
    margin: $spacing-small;
    padding: $spacing-small;
    background-color: khaki;
}

.hostValue {
    text-align: center;
    color: $color-black;
    margin-left: $spacing-tiny;
    display: flex;
}

.playerName {
    text-align: center;
    color: $color-red;
    display: flex;
    padding: $spacing-tiny;

    .name {
        width: 100%;
        margin-left: $spacing-medium;
        @include vertical-center-div();
    }

    .status {
        @include vertical-center-div();
        width: $spacing-medium;
        margin-right: $spacing-small;
        right: 0;
        // -webkit-animation: flickerAnimation 4s infinite;
        // -moz-animation: flickerAnimation 4s infinite;
        // -o-animation: flickerAnimation 4s infinite;
        //  animation: flickerAnimation 4s infinite;
    }

    .ready {
        color: $color-green;
    }

    .notReady {
        color: $color-red;
    }
}

.gameInfo {
    display: flex;
    justify-content: space-evenly;
}

// @keyframes flickerAnimation {
//     0%   { opacity:1; }
//     50%  { opacity:0; }
//     100% { opacity:1; }
// }
// @-o-keyframes flickerAnimation{
//     0%   { opacity:1; }
//     50%  { opacity:0; }
//     100% { opacity:1; }
// }
// @-moz-keyframes flickerAnimation{
//     0%   { opacity:1; }
//     50%  { opacity:0; }
//     100% { opacity:1; }
// }
// @-webkit-keyframes flickerAnimation{
//     0%   { opacity:1; }
//     50%  { opacity:0; }
//     100% { opacity:1; }
// }

.testing {
    $color: yellow;
}

.rolesMessage {
    text-align: center;
    margin-top: $spacing-small;
    color: $color-green;
    font-weight: bold;
}

.goodRole {
    text-align: center;
    color: $color-blue;
}

.badRole {
    text-align: center;
    color: $color-red;
}

.readyUp {
    text-align: center;
    color: $color-green;
}

.startGameWrapper {
    margin-top: $spacing-small;
    text-align: center;
}

.leaveGameWrapper {
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
    text-align: center;
}

.waitingForHost, .waitingForPlayersToReady, .waitingForPlayersToJoin {
    text-align: center;
    color: $color-gray;
}
