@import "../Styles.scss";

.commentWrapper{
    padding: $spacing-small;
    .userInfo{
        font-size: $font-size-small;
        display: flex;    

        .messageWrapper{
            width: 100%;
        }
    }
}

.profilePicture{
    max-height: 50px;
    max-width: 50px;
}

.smallerImage{
    transform: scale(0.7, 0.7);
}