@import "../common/Styles.scss";

.overviewWrapper {
  margin-top: $spacing-medium;
  text-align: center;
}

.allGamesHeader {
  font-size: $font-size-large;
  font-weight: bold;
  color: $color-green;
  text-align: center;
  margin: $spacing-small;
}

.alreadyStarted {
  color: $color-black;
}

.gameWrapper {
  margin: $spacing-small;
  background-color: $color-separator;
  cursor: pointer;
}

.gameName {
  text-align: center;
  color: $color-blue;
  font-size: $font-size-medium;
  font-weight: bold;

  > div {
    padding: $spacing-tiny;
  }
}

.joiningGame {
  text-align: center;
}