@import "../common/Styles.scss";

.overviewWrapper {
  margin-top: $spacing-medium;
  text-align: center;
}

.allGamesHeader {
  font-size: $font-size-large;
  font-weight: bold;
  color: $color-green;
  text-align: center;
  margin: $spacing-small;
}

.alreadyStarted {
  color: $color-black;
}

.gameWrapper {
  margin: $spacing-medium;
  margin-top: $spacing-small;
  padding: $spacing-small;
  background-color: khaki;
  border-radius: $spacing-small;
  cursor: pointer;
}

.gameName {
  text-align: center;
  color: $color-blue;
  font-size: $font-size-medium;
  font-weight: bold;
}

.gameCurrentPlayers {
  margin-right: $spacing-small;
  margin-left: $spacing-small;
  word-break: break-all;
}

.joiningGame {
  text-align: center;
}

.textWrapper {
  text-align: center;
  color: $color-green;
  font-weight: bold;
  display: flex;
  justify-content: center;
  font-size: $font-size-medium;
  flex-wrap: wrap;
}

.textValue {
  color: $color-black;
  margin-left: 4px;
}