@import "../../common/Styles.scss";

.makingTeamsHeader{
    margin-top: $spacing-small;
    text-align: center;
    font-weight: bold;
    color: $color-gray;
}

.clickTeamToJoin {
    text-align: center;
    font-weight: bold;
    color: $color-gray;
}

.teamWrapper, .playersNotInTeams {
    margin: $spacing-medium;
    padding: $spacing-medium;
    padding-top: $spacing-tiny;
    text-align: center;    
}

.playersNotInTeams {
    background-color: bisque;
    border-radius: $spacing-small;
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
}

.team-0 {
    background-color: aquamarine;
}

.team-1 {
    background-color: mediumpurple;
}

.team-2 {
    background-color: darkseagreen;
}

.team-3 {
    background-color: greenyellow;
}

.team-4 {
    background-color: darksalmon;
}

.teamName {
    font-weight: bold;
    font-size: $font-size-medium;
}

.createTeamWrapper {
    text-align: center;
    margin-bottom: $spacing-small;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.addNewTeamWrapper, .addNewWordWrapper {
    text-align: center;
}

.confirmButtons {
    display: flex;
    justify-content: center;
}

.numberOfWordsAdded {
    text-align: center;
    font-weight: bold;
    font-size: $font-size-medium;
    color: crimson;
}

.startGame {
    text-align: center;
}

.numberOfRandomTeams {
    color: $color-black;
    font-weight: bold;
    text-align: center;
    margin-bottom: $spacing-tiny;
}