@import "../../common/Styles.scss";

.scoreCapReachedHeader, .winningTeam {
    text-align: center;
    font-weight: bold;
    color: $color-blue;
    font-size: $font-size-medium;
}

.scoreCapReachedHeader {
    margin-top: $spacing-medium;
}

.leaveGameButton {
    text-align: center;
}