@import "../../../common/Styles.scss";

.leaveButton {
    text-align: center;
    justify-content: center;
}

.opponentResigned {
    text-align: center;
    font-weight: bold;
    color: $color-red;
    font-size: $font-size-medium;
}