@import "../Styles.scss";

.videoListWrapper{
  margin: $spacing-medium;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.videoWrapper{
  margin: $spacing-small;
  background-color: $color-white;
  @include light-box-shadow();
  max-width: 33%;
  min-width: 30%;
}

.notExpandedVideoWrapper{
  max-width: 33%;
  min-width: 30%;
}


@media only screen and (max-width: 600px) {
  .videoWrapper{
    min-width: 100%;
    margin-left: auto;
  }
  .videoListWrapper {
    margin: 0px;
  }
}


.userInfo{
  width: 50%;
  margin-left: $spacing-small;
}

.loadingSpinner{
  margin: $spacing-medium;
  background-color: $color-white;
  @include light-box-shadow();
  text-align: center;
}

.collapsedVideoWrapper{
  width: 100%;
  height: 100%;
  position: relative;
  // background-image: linear-gradient(to bottom right, $color-very-very-light-blue, $color-white);
  background-image: linear-gradient(to bottom right, $color-white, $color-white);
}

.collapsedTitle{
  // background-color: $color-dark-gray;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  outline-width: 0px;
  text-align: center;
  padding: 0px $spacing-medium $spacing-average $spacing-medium;
}

.expandIcon{
  cursor: pointer;
  outline: none;
  // background-color: $color-dark-gray;
  text-align: right;
  padding-right: $spacing-small;
  padding-top: $spacing-small;
  right: 0;
}

.expandLess{
  text-align: right;
  margin-right: $spacing-small;
  padding-top: $spacing-small;

  :first-child{
    cursor: pointer;
  }
}