@import "../Styles.scss";

.expandedWrapper{
    display: flex;
    flex-wrap: wrap;
    > div {
      flex-grow: 1;
    }
    .buttonWrapper{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

.videoTitle, .email, .dateCreated {
    text-align: center;
    font-weight: bold;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    word-break: break-word;
  }

  .collapsedTitle{
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    outline-width: 0px;
    text-align: center;
    padding: 0px $spacing-medium $spacing-average $spacing-medium;
  }

.closedVideoItemWrapper{
    padding-bottom: $spacing-small;
    > div {
        font-weight: bold;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
        outline-width: 0px;
        text-align: center;
    }
}

.commentsWrapper{
  margin: $spacing-small;
}