@import "../../common/Styles.scss";

.extraFilters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    > div {
        @include vertical-center-div();
        padding: $spacing-small;
    }
}