@import "../../../common/Styles.scss";

.drawTitle {
    text-align: center;
    margin-top: $spacing-small;
}

.itemToDraw {
    text-align: center;
    font-size: $font-size-huge;
    color: $color-green;
    margin-top: $spacing-small;
}

.playingButtons {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    > * {
        flex-grow: 1;
        width: 50%;
    }
}

.confirmButtons {
    display: flex;
    justify-content: center;
}


@media only screen and (max-width: 1200px) {
    .playingButtons {
        flex-direction: column;
    }    
}