@import "../../common/Styles.scss";

.transfersWrapperDesktop {
    display: flex;
    > div {
        width: 50%;
    }
}

.pitchWrapper{
    overflow: hidden;
    // height: 90vh;
    margin: $spacing-small;
    // padding: $spacing-medium;
    background-color: $color-white;
    @include light-box-shadow();
}

.transfersHeader{
    padding: $spacing-tiny;
    display: flex;
    justify-content: center;
    background-color: $color-white;
    margin-right: $spacing-small;
    margin-left: $spacing-small;
    border-bottom: 2px solid $color-separator;
  
    > div {
      width: 33%;
      @include vertical-center-div();
    }

    .saveChanges {
      color: $color-green;
      text-align: center;
      font-size: $font-size-tiny;
      font-weight: bold;
    }

    .remainingBudgetValue, .remainingTransfersValue {
      font-size: $font-size-small;
      color: $color-blue;
      font-weight: bold;
      text-align: center;
    }
    .remainingBudgetText{
      font-size: $font-size-miniscule;
    }

    .hidden {
      visibility: hidden;
    }
  }
