@import "../../common//Styles.scss";

.triggerWeekWrapper{
  text-align: center;
  margin: $spacing-huge;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: $spacing-medium;
  padding-bottom: $spacing-medium;
  @include light-box-shadow();
  background-color: $color-white;

  .triggerWeekHeader{
    font-size: $font-size-gigantic;
    color: $color-dark-gray;    
  }
  .triggerWeekForm{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .triggerWeekDropdowns{
    display: flex;
    justify-content: center;
  }

  .triggerWeekButton{
    margin-top: $spacing-small;
  }

  .hidden{
    visibility: hidden;
  }
}