@import "../common/Styles.scss";


.allFeatureRequests{
    flex-wrap: wrap;
    margin: $spacing-medium;
    // @include light-box-shadow();
    padding: $spacing-small;
}

.featuresWrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    > div {
        max-width: 50%;
        min-width: 50%;
    }
}

.featureRequestHeader {
    padding: $spacing-medium;
    text-align: center;
    background-color: $color-white;
    margin: $spacing-medium;
    @include light-box-shadow();
    display: flex;
    flex-wrap: wrap;
    > div {
        flex-grow: 1;
    }

    .searchFilter {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }

    .featureRequestMessage {
        font-size: $font-size-gigantic;
        text-align: center;
        color: $color-blue;
        font-weight: bold;
    }

    .openSubmitVideo {
        text-align: center;
    }
}

.sortByWrapper{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
    .allFeatureRequests {
        margin: 0px;
        padding: 0px;
    }

    .featureRequestMessage {
        font-size: $font-size-large !important;
    }

    .featureRequestHeader {
        margin: 0px;
        margin-bottom: $spacing-medium;
    }

    .searchFilter {
        width: 100% !important;
    }

    .featuresWrapper {
        > div {
            max-width: 100%;
            width: 100%;
        }
    }
}