@import "../../common/Styles.scss";

.subsWrapper{
    padding: $spacing-medium;
    margin: $spacing-medium;
    background-color: $color-white;
    @include light-box-shadow();

    .subsHeader{
        font-size: $font-size-huge;
        text-align: center;
        color: $color-blue;
        font-weight: bold;
    }

    .playersGridWrapper{
        margin-top: $spacing-small;
    }

    .iconPositive {
        color: $color-green;
    }

    .iconNegative{
        color: $color-red;
    }

    .editSubsIcon:hover{
        color: $color-blue;
        cursor: pointer;
    }
}

.helperMessage {
    color: $color-gray;
    text-align: center;
    font-weight: bold;
    padding: $spacing-small;
}

.modalMessagePositive {
    margin-top: $spacing-small;
    justify-content: center;
    color: $color-green;
    text-align: center;
}

.modalMessageNegative {
    margin-top: $spacing-small;
    justify-content: center;
    color: $color-red;
    text-align: center;
}

.modalButtons {
    margin-top: $spacing-small;
    text-align: center;
}

.confirmChangesWrapper {
    margin-top: $spacing-small;
    display: flex;
    justify-content: flex-end;
}

.filtersWrapper{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .subsWrapper {
        margin: 0px;
        padding: 0px;
    }
    .subsHeader {
        padding-top: $spacing-small;
    }
}