@import "../../common/Styles.scss";

.guessingHeader {
    text-align: center;
    font-weight: bold;
    font-size: $font-size-medium;
    color: $color-blue;
    margin-left: 10%;
    margin-right: 10%;
}

.remainingTime {
    margin-top: $spacing-medium;
    text-align: center;
    color: crimson;
    font-size: 60px;
    font-weight: bold;
}

.wordToDescribe {
    text-align: center;
    margin: $spacing-medium;
    margin-top: $spacing-small;
    padding: $spacing-medium;
    border: 2px solid black;
    font-size: $font-size-large;
}

.buttonOptions {
    display: flex;
    justify-content: center;
}

.gotWord {
    text-align: center;
}

.skippedWord {
    text-align: center;
    margin: $spacing-large;
    padding: $spacing-small;
    border: 2px solid $color-blue;
    font-size: $font-size-medium;
    margin-top: $spacing-small;
    margin-bottom: $spacing-small;
}

.swapBackMessage {
    color: $color-gray;
    font-size: $font-size-small;
    color: $color-green;
    font-weight: bold;
}

.viewTeamsWrapper {
    margin-top: $spacing-small;
    text-align: center;
    color: crimson;
}

.remainingWordsInPool {
    margin-top: $spacing-tiny;
    text-align: center;
    color: $color-green;
    font-weight: bold;
    margin-top: $spacing-large;
    font-size: $font-size-large;
    margin-left: 10%;
    margin-right: 10%;
}

.loadingWrapper {
    font-weight: bold;
    margin-top: $spacing-gigantic;
    text-align: center;
    align-items: center;
    color: $color-blue;
    justify-content: center;
}

.guessDescribedWord, .allPlayMessage {
    text-align: center;
    font-weight: bold;
    color: $color-blue;
    font-size: $font-size-huge;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: $spacing-small;
}

.category, .activeTeam {
    margin-top: $spacing-small;
    text-align: center;
    font-weight: bold;
    font-size: $font-size-large;
}

.bonusRound {
    margin-top: $spacing-small;
    text-align: center;
    color: $color-green;
    font-weight: bold;
}

.viewOtherTeamWordWrapper {
    text-align: center;
    border: 2px solid $color-green;
    margin: $spacing-huge;
    margin-top: $spacing-tiny;
    margin-bottom: $spacing-tiny;
    padding: $spacing-small;
}

.otherTeamGuessingMessage {
    color: $color-gray;
    font-weight: bold;
}

.otherCardsWrapper {
    color: $color-blue;
}

.spadeRoundCompleted {
    * {
        * {
            width: 100%;
        }
    }
}