.createLeagueWrapper, .joinLeagueWrapper{
  text-align: center;
  .textInputsWrapper, .textInputWrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 600px) {
  .createLeagueWrapper, .joinLeagueWrapper{
    .textInputsWrapper, .textInputWrapper {
      width: 100%;
    }
  }
}