@import "../../common/Styles.scss";

.myLeaguesTable{
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: $spacing-large;
}

.leagueButtonsWrapper{
  text-align: center;
}

.spinnerWrapper{
  text-align: center;
  color: $color-pink;
  font-size: $font-size-small;
}

.userWrapper{ 
  display: inline-block;
  .miniText{
    font-size: $font-size-tiny;
    color: $color-blue;
    font-weight: bold;
  }
}

@media only screen and (max-width: 600px) {
  .myLeaguesTable{
    padding: 0px;
    padding-top: $spacing-medium;
    margin-bottom: $spacing-small;
  }
}