@import "../../../common/Styles.scss";

.timeUp {
    margin-top: $spacing-small;
    font-size: $font-size-medium;
    color: crimson;
    font-weight: bold;
    text-align: center;
}

.confirmWords {
    margin-top: $spacing-small;
    font-size: $font-size-medium;
    color: $color-green;
    font-weight: bold;
    text-align: center;
}

.word {
    @include vertical-center-div();
}

.isConfirmedWord {
    font-weight: bold;
}

.notConfirmed {
    color: crimson;
}

.wordsGuessed {
    text-align: center;
    margin: $spacing-medium;
    padding: $spacing-medium;
    margin-top: $spacing-small;
    background-color: aquamarine;
    border-radius: $spacing-small;
}

.confirmedWrapper {
    justify-content: center;
}

.wordRowWrapper {
    display: flex;
    justify-content: center;
}

.skippedWraper {
    margin-top: $spacing-small;
}

.confirmedWordsHeader, .skippedWordsHeader, .trashedWordsHeader {
    text-align: center;
    font-weight: bold;
}

.trashedWordsHeader, .skippedWordsHeader, .confirmedWordsHeader {
    color: blueviolet;
}