@import "../../common/Styles.scss";

.matchWrapper{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2px;
    padding-bottom: 2px;
}

.leftHand, .rightHand {
    width: 50%;
}

.leftHand {
    display: flex;
    align-items: center;
}

.rightHand {
    display: flex; 
    justify-content: space-evenly;
    > div {
        @include vertical-center-div();
    }
    .info {
        color: $color-gray;
        margin-left: auto;
    }
}

.teamOne, .teamTwo {
    font-size: $font-size-medium;
    color: $color-dark-blue;
    display: flex;
}

.teamOne {
    width: 100%;
    text-align: right;
    justify-content: flex-end;

    .trophyIcon {
        margin-right: $spacing-small;
        color: $color-trophy;
    }

    .collegeIcon{
        margin-left: $spacing-tiny;        
    }
}

.teamTwo {
    .collegeIcon{
        margin-right: $spacing-tiny;
    }
}

.collegeIcon{
    // height: 20px;
    width: 20px;
}

.matchLive{
    display: flex;

    .greenIcon {
        color: $color-green;
    }
    .liveText {
        margin-left: $spacing-tiny;
        color: $color-red;
        -webkit-animation: flickerAnimation 2s infinite;
        -moz-animation: flickerAnimation 2s infinite;
        -o-animation: flickerAnimation 2s infinite;
         animation: flickerAnimation 2s infinite;
    }
}

@keyframes flickerAnimation {
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-o-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-moz-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }
  @-webkit-keyframes flickerAnimation{
    0%   { opacity:1; }
    50%  { opacity:0; }
    100% { opacity:1; }
  }

.versus {
    width: 5%;
    text-align: center;
    @include vertical-center-div();
    font-weight: bold;
    margin-right: $spacing-tiny;
    margin-left: $spacing-tiny;
}

@media only screen and (max-width: 600px) {
    
    .leftHand, .rightHand {
        > div {
            font-size: $font-size-small;
        }
    }
}