@import "../common/Styles.scss";

.addHighlight {
  padding: $spacing-medium;
  margin: $spacing-medium;
  background-color: $color-white;
  @include light-box-shadow();

  

  .inputWrapper{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.infoWrapper{
  text-align: center;
  justify-content: center;
}

.searchFilter{
  margin-left: auto;
  margin-right: auto;
}

.highlightsWrapper {
  padding: $spacing-medium;
  margin: $spacing-medium;
  background-color: $color-white;
  @include light-box-shadow();
}

.highlightsHeader{
  display: flex;
  flex-wrap: wrap;
  > div {
    flex-grow: 1;
  }

  .highlightsMessage{
    font-size: $font-size-enormous;
    text-align: center;
    color: $color-blue;
    font-weight: bold;
  }

  .openSubmitVideo{
    text-align: center;
  }
}

.sortByWrapper{
  @include vertical-center-div();
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.karmaWrapper{
  display: flex;
  justify-content: flex-end;  
  .karmaIcon {
    @include vertical-center-div();
    margin-right: $spacing-tiny;
  }
  
  .karmaInfo{
    margin-left: $spacing-tiny;
    .karmaValue, .karmaText {
      text-align: center;
    }
    .karmaValue{
      color: $color-green;
      font-size: $font-size-large;
      font-weight: bold;
    }
    .karmaText {
      font-size: $font-size-medium;
      font-weight: bold;
    }
  }
}

@media only screen and (max-width: 600px) {
  .highlightsWrapper {
    margin: 0px;
    padding: 0px;
    .highlightsMessage{
      margin-top: $spacing-small;
      font-size: $spacing-medium;
    }
  }

  .karmaWrapper {
    margin-right: $spacing-small;
  }
  .searchFilter{
    width: 80%;
  }
}