@import "../common/Styles.scss";

.drawerWrapper{
  width: 80vw;
}

.backIcon{
  padding: $spacing-small;
  display: flex;
  align-items: center;
}

.testWrapper { 
  margin-left: $spacing-medium;
  @include light-box-shadow();
}

.addHighlight {
  padding: $spacing-medium;
  margin: $spacing-medium;
  background-color: $color-white;
  // @include light-box-shadow();

  .inputWrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.videoIdHint {
  text-align: center;
  margin-top: $spacing-small;
  font-size: $font-size-medium;
  word-break: break-word;
}

.gridWrapper {
  margin: $spacing-medium;
  background-color: $color-white;
  @include light-box-shadow();
  margin-top: 0px;
}

.rejected{
  color: $color-red;
  font-weight: bold;
}

.waiting {
  color: $color-amber;
  font-weight: bold;
}

.approved{
  color: $color-green;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .drawerWrapper{
    width: 100vw;
  }
  .addHighlight{
    margin: 0px;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .gridWrapper {
    margin: 0px;
  }

  .videoIdHint {
    margin-left: $spacing-small;
    margin-right: $spacing-small;
  }

  .testWrapper {
    margin-left: 0px;
  }

  .videoIdHint {
    padding-bottom: $spacing-small;
  }
}