@import "./common//Styles.scss";

.app{
  background-color: $color-light-gray;
  
  .appContainer{
    width: 100%;
    padding: 0px;
    margin: 0px;
    max-width: 100%;
  }
}

.loadingWrapper {
  margin-top: $spacing-gigantic;
  text-align: center;
}

.loadingMessage {
  color: $color-gray;
  font-weight: bold;
}