html {
  min-height: 100%;
  height: 100%;
  margin: 0;
}

body{
  /* background-image: url("./styles/styles.png"); */
  height:100%;
  min-height: 100%;
}

#root{
  height: 100%; 
  overflow-y: scroll;
}

/* input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ec407a;
  box-shadow: none;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label {
  color: #ec407a !important;
} */