@import "../../common/Styles.scss";

.tableModalWrapper{
  .columnToggles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    > div {
      justify-content: center;
      text-align: center;
    }
    .columnName{
      text-align: center;
    }
  }
}

.sortingWrapper{
  text-align: center;
  > div {
    flex-grow:  1;
    @include vertical-center-div();
  }
}