
@import "../../common/Styles.scss";

.checkboxesWrapper {
    display: flex;
    flex-wrap: wrap; 
    // justify-content: space-evenly;
  
    .checkboxWrapper {
      min-width: 20%;
      max-width: 20%;
      width: 20%;
      display: flex;
      justify-content: center;
    }
  
    .teamName {
      @include vertical-center-div();
      width: $spacing-tiny;
    }
  }