@import "../common//Styles.scss";

.passwordReset {
  padding: $spacing-huge;
  @include light-box-shadow();
  .passwordResetHeader{
    text-align: center;
    font-size: $font-size-huge;
    color: $color-amber;
  }
  margin-top: $spacing-huge;
  color: $color-amber;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  .resetPasswordButton{
    text-align: center;
  }
  .modalWrapper{
    text-align: center;
    color: $color-danger-red;
    font-weight: $font-weight-normal;
  }
}