@import "../common//Styles.scss";

.signUpWrapper{
  color: $color-amber;
  padding-top: $spacing-huge;
  padding-bottom: $spacing-huge;
  .shadowWrapper{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: $spacing-large;
    @include light-box-shadow();
    .signUpForm {      
      .textInputsWrapper {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
      }
      .signUpMessage{
        margin-top: $spacing-small;
        text-align: center;
        color: $color-blue;
        font-size: $font-size-gigantic;
        font-weight: $font-weight-normal;
      }
      .submitButtons{
        text-align: center;
      }
    }
}
  .modalWrapper{
    text-align: center;
    color: $color-danger-red;
    font-weight: $font-weight-normal;
  }
}

@media only screen and (max-width: 600px) {
  .signUpWrapper{
    padding: 0px;
    .shadowWrapper{
      width: 100%;
      box-shadow: 0px 0px 0px 0px;
      padding-top: 0px;
      .textInputsWrapper {
        width: 80% !important;
      }
    }
  }
}